html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  color: #606c73;
  font-family: "Fira Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2 {
  color: #0881b0;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.8;
}

h2 {
  margin-top: 1.5rem;
}

code {
  color: #567484;
  font-family: "Fira Mono", monospace;
  display: inline-block;
  border: 1px solid #dce6f1;
  background-color: #f3f6fc;
  padding: 0.8rem;
  overflow: auto;
}

.top-gradient {
  width: 100vw;
  height: 3rem;
  background-color: #0881b0;
  background-image: linear-gradient(90deg, #0881b0 0%, #0ab865 100%);
}

#main-section {
  position: relative;
}

.arrow {
  background-color: #cbd5e0;
  display: inline-block;
  padding: 1rem 1.8rem;
  border-radius: 50%;
  opacity: 0.5;
  position: fixed;
  right: 20vw;
  bottom: 5vh;
  font-size: 2rem;
}

.code {
  color: #4a5568;
  font-family: "Fira Mono", monospace;
}

#main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#navbar {
  border-right: 2px solid #718097;
  padding: 2rem;
}

.nav__lists {
  list-style: none;
}

.nav__list {
  border-top: 1px dotted #718097;
  padding: 1rem 0;
}

.nav__link {
  text-decoration: none;
  color: #4a5568;
}

#main-section {
  padding: 2rem;
}

.driveFormat__list {
  margin-left: 2rem;
}

.vim-code {
  color: #567482;
  margin-left: 2rem;
}

.sml-scn__heading {
  display: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: #718096;
}

.desktop-env {
  font-weight: 500;
}

.desktop-env-cinnamon{
  color: #0ab865;

}

@media (max-width: 40rem) {
  #main {
    grid-template-columns: auto;
  }
  #navbar {
    display: none;
  }
  #main-section {
    max-width: 30rem;
    font-size: 0.8rem;
  }
  h2 {
    font-weight: 700;
    color: #718096;
  }
  .sml-scn__heading {
    display: block;
  }
}
